@import vars

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  &:before, &:after
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box

::placeholder
  color: #666

::selection
  background-color: $accent
  color: #fff

body
  font-size: 14px
  min-width: 320px
  position: relative
  line-height: 1.5
  font-family: $default-font
  overflow-x: hidden
  color: $text
  input, textarea
    border: #666 1px solid
    outline: none
    &:focus:required:invalid
      border-color: red
    &:required:valid
      border-color: green

.img-responsive
  display: block
  max-width: 100%
  height: auto

.text-center
  text-align: center

b, strong
  font-weight: bold

a:hover, a:active, a:focus
  color: inherit
  text-decoration: none

a
  color: $accent
  text-decoration: none

a, li, button
  outline: none!important

ul
  list-style-type: none
  padding: 0
  margin-bottom: 0

.hidden
  display: none!important
// ======= END TEMPLATE STYLES =======

.s-benefits, .s-contacts
  .notice
    line-height: 1
    font-size: 12px
    font-weight: 700
    color: $accent
    text-transform: uppercase
    margin-bottom: 10px

h3
  font-size: 20px
  margin-bottom: 15px

.btn
  display: inline-block
  font-size: 16px
  font-weight: bold
  line-height: 1
  border-width: 1px
  border-style: solid
  padding: 12px 30px
  +mt(.3s)
  border-radius: 4px
  white-space: nowrap
  .svg
    +mt(.3s)

.btn-red
  background-color: $accent
  border-color: $accent
  color: #fff
  &:hover
    color: $accent
    background-color: transparent

.btn-white
  border-color: #fff
  background-color: #fff
  color: $text
  &:hover
    background-color: transparent
    color: #fff

.btn-mixed
  border-color: $accent
  color: $accent
  .svg
    fill: $accent
  &:hover
    background-color: $accent
    color: #fff
    .svg
      fill: #fff

.btn-mixwhite
  font-size: 14px
  color: #fff
  border-color: #fff
  background-color: transparent
  .svg
    fill: #fff
    width: 5px
    margin-left: 9px
    position: relative
    top: 2px
  &:hover
    background-color: $accent
    border-color: $accent

section
  padding-top: 90px

.section-title
  font-size: 30px
  font-weight: 700
  margin-bottom: 50px
  position: relative
  padding-left: 50px
  line-height: 1
  &:before
    content: ''
    position: absolute
    width: 37px
    height: 23px
    background-image: url('../img/icons/title-icon.svg')
    +bg-cover
    left: 0
    top: 0
  span
    color: $accent

.bg-txt
  position: relative
  background-image: url("../img/bg-s-bg.jpg")
  background-repeat: no-repeat
  background-position: center top

.item-title
  font-size: 18px
  line-height: 1.25
  position: relative
  font-weight: 700
  padding-left: 18px
  &:before
    content: ''
    position: absolute
    height: calc(100% - 10px)
    width: 3px
    background-color: $accent
    left: 0
    top: 4px

.s-bg
  background-image: url('../img/bg.jpg')
  background-repeat: repeat
  background-position: center center

.p-bottom
  padding-bottom: 60px

.p-top-50
  padding-top: 50px



#map
  height: 100%
  position: relative
  background-image: url('../img/bg-footmap.jpg')
  +bg-cover

.loader
  position: absolute
  top: 0
  left: 0
  box-sizing: border-box
  width: 100%
  height: 100%
  overflow: hidden
  color: #000000
  transition: opacity .7s ease
  opacity: 0
  background-color: rgba(0,0,0,.55)
  z-index: -2

.loader:after,
.loader:before
  box-sizing: border-box

.loader.is-active
  top: 0
  opacity: 1
  z-index: 2

.loader-default:after
  position: absolute
  top: calc(50% - 24px)
  left: calc(50% - 24px)
  width: 48px
  height: 48px
  content: ''
  animation: rotation 1s linear infinite
  border: solid 8px #ffffff
  border-left-color: transparent
  border-radius: 50%

@keyframes rotation
  from
    transform: rotate(0)
  to
    transform: rotate(359deg)

@keyframes blink
  from
    opacity: .5
  to
    opacity: 1



//preloader
.preloader
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 10000
  display: flex
  justify-content: center
  align-items: center
  background-color: #e8e8e8

.sk-folding-cube
  width: 4em
  height: 4em
  position: relative
  margin: auto
  transform: rotateZ(45deg)


.sk-folding-cube .sk-cube
  float: left
  width: 50%
  height: 50%
  position: relative
  transform: scale(1.1)

.sk-folding-cube .sk-cube:before
  content: ''
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-color: $accent
  animation: sk-folding-cube-angle 2.4s infinite linear both
  transform-origin: 100% 100%

.sk-folding-cube .sk-cube-2
  transform: scale(1.1) rotateZ(90deg)

.sk-folding-cube .sk-cube-3
  transform: scale(1.1) rotateZ(180deg)

.sk-folding-cube .sk-cube-4
  transform: scale(1.1) rotateZ(270deg)

.sk-folding-cube .sk-cube-2:before
  animation-delay: 0.3s

.sk-folding-cube .sk-cube-3:before
  animation-delay: 0.6s

.sk-folding-cube .sk-cube-4:before
  animation-delay: 0.9s


@-webkit-keyframes sk-folding-cube-angle
  0%, 10%
    transform: perspective(140px) rotateX(-180deg)
    opacity: 0

  25%, 75%
    transform: perspective(140px) rotateX(0deg)
    opacity: 1

  90%, 100%
    transform: perspective(140px) rotateY(180deg)
    opacity: 0



@keyframes sk-folding-cube-angle
  0%, 10%
    transform: perspective(140px) rotateX(-180deg)
    opacity: 0

  25%, 75%
    transform: perspective(140px) rotateX(0deg)
    opacity: 1

  90%, 100%
    transform: perspective(140px) rotateY(180deg)
    opacity: 0



